body {
  background-color: floralwhite;
}
.menu {
  background-color: dodgerblue;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 30px;
  height: 80px;
  border-radius: 20px;
  list-style-type: none;
}

h1 {
  text-align: center;
  color: black;
}
h2 {
  font-size: 50px;
  text-align: center;
}
strong {
  font-size: 30px;
  text-align: center;
}
p {
  text-align: center;
  color: cornflowerblue;
}
.git-inst li {
  font-size: 30px;
  margin-top: 10px;
  padding: 10px 5px 10px 5px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  border-radius: 20px;
  background-color: bisque;
}
.git-inst {
  border-radius: 20px;
}
.git-create {
  box-sizing: border-box;
}
.git-create li {
  font-size: 30px;
  padding-top: 20px;
}
img {
  height: 200px;
  width: 200px;
}
.image {
  border-radius: 50%;
  display: flex;
  justify-content: center;
}
