body {
  background-color: floralwhite;
  height: 200vh;
}
.menu {
  background-color: dodgerblue;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 30px;
  height: 80px;
  border-radius: 20px;
  list-style-type: none;
}

h1 {
  text-align: center;
  color: black;
}
h2 {
  font-size: 50px;
  text-align: center;
}
strong {
  font-size: 30px;
  text-align: center;
}
p {
  text-align: center;
  color: cornflowerblue;
}
.git-inst li {
  font-size: 30px;
  margin-top: 10px;
  padding: 10px 5px 10px 5px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  border-radius: 20px;
  background-color: bisque;
}
.git-inst {
  border-radius: 20px;
}
.git-create {
  box-sizing: border-box;
}
.git-create li {
  font-size: 30px;
  padding-top: 20px;
}
img {
  height: 200px;
  width: 200px;
}
.image {
  border-radius: 50%;
  display: flex;
  justify-content: center;
}
.link-course {
  display: flex;
  justify-content: space-around;
  font-size: 30px;
}
.video-course {
  color: black;
  font-size: 50px;
}
.boxx {
  border-left: 10px dotted white;
  border-top: 10px solid red;
  border-bottom: 10px solid green;
}
.flex {
  margin-top: 30px;
  display: flex;
  box-sizing: border-box;
  justify-content: space-around;
  text-align: center;
}
.blue {
  background-color: #87ceeb;

  width: 33.3%;
  height: 100px;
  border-radius: 20px;
}
.green {
  background-color: #9acd32;

  width: 33.3%;
  height: 100px;
  border-radius: 20px;
}
.yellow {
  background-color: #eee8aa;

  width: 33.3%;
  height: 100px;
  border-radius: 20px;
}
a:active {
  color: gold;
  text-decoration: wavy;
}

@media (max-width: 1000px) {
  body {
    font-size: 20px;
  }
  .menu {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 200px;
  }
  .instr {
    margin-top: 70px;
  }
}
