* {
  box-sizing: border-box;
  color: white;
}

body {
  padding: 0px;
  margin: 0px;
  width: 100vw;
}

li {
  list-style-type: none;
  display: inline-block;
  margin-right: 20px;
}

.menu {
  background-color: cyan;
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
  font-size: 20px;
}

@media (max-width: 768px) {
  .menu {
    display: flex;
    background-color: blueviolet;
    width: 100%;
  }
  ul {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-around;
  }
  header {
    width: 100%;
  }

  li {
    margin-right: 0px;
  }
}
@media (max-width: 576px) {
  .menu {
    margin-left: 0px;
    background-color: darkgreen;
    display: flex;
  }
  ul {
    padding: 0px;
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    align-items: center;
    width: 100%;
  }
  li {
    justify-content: center;
    display: flex;
    align-items: center;
    height: 30px;
    border: 1px solid gray;
    width: 100%;
    padding: 0px;
  }
}
